html {
    scroll-behavior: smooth;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Archivo';
    background-color: #000;
    color: white;
    background-color:#16151A;
}


.bai-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #16151A;
    margin-right:7%;
    margin-left:7%;
}

.bai-content {
    padding-right:3%;
    flex: 1;
    max-width: 40%;
    text-align: left;
    position: relative;
}

.bai-title {
    font-size: 3.2em;
    margin-top: -25%;
}

.bai-description {
    font-size: 0.8em;
    margin-top: 5%;
    opacity: 0.5;
}

.bai-button {
    background-color: #2860E1;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Roboto', 'Archivo';
}

.bai-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.bai-carousel-wrapper {
    display: flex;
    flex: 2;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.bai-carousel {
    display: flex;
    gap: 20px;
    width: 100%;
    scroll-behavior: smooth;
    transition: transform 0.5s ease-in-out;
}

.bai-carousel-item {
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    flex: 1;
    min-width: 300px;
    text-align: center;
    position: relative;
    height: 400px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.bai-carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity:0.8;
}

.bai-carousel-item-title {
    font-size: 1.5em;
    margin: 10px 0;
    position: absolute;
    padding: 5px 135px;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%);
    color: white;
    border-radius: 4px;
    font-weight:bold;
    text-wrap: nowrap;
    background-color: rgba(0,0,0,.5);

}

.bai-carousel-item-desc {
    font-size: 0.8em;
    margin: 5px 0;
    position: absolute;
    padding: 5px 10px;
    left: 38%;
    bottom: 0px;
    transform: translate(-30%);
    color: white;
    border-radius: 4px;
    font-weight:lighter;
    text-wrap: wrap;
    letter-spacing:0.05em;
}

.bai-carousel-item:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.bai-carousel-controls {
    display: flex;
    width: 100%;
    margin-top: 20px;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    background:transparent;
}

.bai-arrow-left:hover, .bai-arrow-right:hover {
    opacity: 0.5;
    color: white;
    text-decoration: none;
    transform: scale(1.2);
}

.bai-arrow {
    background-color: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    font-size: 1.5em;
}

.bai-arrow-left {
    margin-right: 10px;
}

.bai-arrow-right {
    margin-left: 10px;
}

@media (max-width: 768px) {

    .bai-section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bai-content {
        max-width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

    .bai-title {
        font-size: 2.5em;
        margin-top: 0;
    }

    .bai-description {
        font-size: 0.9em;
        margin-top: 10px;
    }

    .bai-button {
        font-size: 0.9em;
        padding: 8px 16px;
        margin-top: 20px;
    }

    .bai-carousel-wrapper {
        width: 100%;
        margin-top:20%;
    }

    .bai-carousel {
        gap: 10px;
    }

    .bai-carousel-item {
        width: 90%;
        height: 250px;
        min-width: 250px;
    }

    .bai-carousel-item-title {
        font-size: 1.2em;
        padding: 3px 6px;
    }

    .bai-carousel-item-desc {
         padding: 5px 5px;
         width:75%;
         margin-top:1%;
    }

    .bai-carousel-controls {
        display:none;
        justify-content: left;
        position: absolute;
        margin-left: 50%;
    }

    .bai-arrow-left, .bai-arrow-right {
        margin: 0 10px;
    }

    .bai-arrow {
        font-size: 1.2em;
        padding: 8px;
    }
}

@media (min-width: 1600px) {
    .bai-section {
        margin-left: auto;
        margin-right: auto;
        max-width: 55%;
    }
}