html {
    scroll-behavior: smooth;
    background-color:#16151A;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', , 'Archivo';
    background-color: #16151A;
    color: white;
    background-color:#16151A;
}

.features-section {
    text-align: center;
    padding: 50px 20px;
    max-width: 75%;
    margin: 0 auto;
}

.features-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.features-section .subtitle {
    color: #777;
    font-weight: 400;
    font-size: 0.5em;
}

.features-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.feature-card {
    flex: 0 0 calc(19% - 30px);
    border: 1px solid #424748;
    padding: 20px;
    margin: 25px;
    width: 200px;
    height: 275px;
    border-radius: 8px;
    text-align: left;
    position: relative;
    align-items: left;
    cursor: pointer;
}

.feature-card i {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #BDC2CC;
}

.feature-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 0.9em;
    color: #aaa;
}

.feature-card::after {
    content: '';
    display: block;
    width: 36px;
    height: 2px;
    background: #4E4E4E;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .features-container {
        flex-direction: column;
        align-items: center;

    }

    .feature-card {
        width: 80%;
        margin-bottom: 20px;
    }
}
@media (min-width: 1600px) {
    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
        margin-bottom:5%;
    }
}