html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Archivo';
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    background: #000;
    color: #fff;
    font-size: 14px;
    width:95%;
    margin-left:2%;

}
.footer .copyright{
    text-align:left;
    margin-top:35%;
    margin-left:20%;
    font-size:x-small;
}
.footer a {
    font-size: 12px;
    color: #8B8A8C;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease; /* Added transform transition */
}

.footer a:hover {
    color: #2860E1;
    text-shadow: 0 0 5px #2860E1;
    transform: scale(1.05);
}

.footer-column {
    flex: 1;
    min-width: 180px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.footer-column:hover {
    transform: scale(1.02);
}

.footer-column h3 {
    font-family: Roboto;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;


}

.footer h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #2860E1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 12px;
    text-align: left;
    margin-left: 30%;
}

.footer ul li a {
    color: #8B8A8C;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer ul li a:hover {
    color: #2860E1;
    text-shadow: 0 0 5px #2860E1;
    transform: scale(1.02);

}

.social-media {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 2rem;
    justify-content: center;
    margin-top: 20px;
}

.social-media li {
    margin-right: 10%;
}

.social-media a {
    color: #8B8A8C;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-media a:hover {
    color: #2860E1;
    transform: scale(1.2);
}

.footer-logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.footer-logo:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) and (min-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .footer-logo {
        text-align: center;
    }

    .footer h3::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .footer-logo {
        text-align: center;
    }

    .footer h3::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .social-media {
        justify-content: center;
    }
    .footer .copyright{
        text-align:left;
        margin-top:5%;
        margin-left:15%;
        font-size:x-small;
    }

    .footer ul li {
    justify-content: center;
    }

    .footer ul li {
        justify-content: center;

    }
}
@media (min-width: 1600px) {
    .footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        margin-top:auto;
    }
}