body, html {
    font-family: 'Archivo';
    background-color: #121212;
}

.hkf-features-section {
    text-align: left;
    padding: 40px 20px;
}

.hkf-features-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.hkf-features-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 7%;
    margin-right: 7%;
}

.hkf-feature {
    overflow: hidden;
    flex: 1;
    max-width: 500px;
    margin: 10px;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.hkf-feature img {
    width: 584px;
    height: 370px;
}

.hkf-feature img:hover {
    overlay: #000;
    opacity: 0.5;
}

.hkf-feature h3 {
    font-size: 1.5em;
    margin: 10px;
    font-weight: bold;
}

.hkf-feature p {
    font-size: 1em;
    margin: 0 10px 20px 10px;
}

.hkf-carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hkf-indicator {
    width: 10px;
    height: 10px;
    background-color: #555;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.hkf-indicator.active {
    background-color: #2860E1;
    transform: scale(1.3); /* Scale the active indicator */
}

.hkf-feature.active {
    transform: scale(1.05); /* Scale the active card */
}

@media (max-width: 768px) {
    .hkf-features-container {
        flex-direction: row;
        overflow: hidden;
        width: 90%;
    }

    .hkf-feature {
        flex: 0 0 100%;
        max-width: 100%;
        display: none;
    }

    .hkf-feature.active {
        display: block;
    }

    .hkf-feature img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
