/* nav.css */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #16151A !important;
    color: #fff;
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}

.desktop-nav {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #16151A !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.desktop-nav .container-fluid {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-nav .navbar-logo img,
.desktop-nav .navbar-brand img {
    max-width: 100%;
    height: auto;
    width: 150px;
    margin-left: -22%;
    transition: width 0.7s ease, transform 0.7s ease;
}

.navbar-logo img:hover,
.navbar-brand img:hover {
    transform: scale(1.1);
}

.desktop-nav .nav-link {
    color: white;
    font-size: 16px;
    padding-right: 30px;
    letter-spacing:0.08em;
}

.desktop-nav .nav-link:hover,
.desktop-nav .nav-link:focus {
    color: white;
    transform: scale(1.13);
}

.desktop-nav .products {

    background-image: url('/static/images/products.png');
    opacity:0.98;
    margin-top:0;
}

.desktop-nav .solutions {
    background-image: url('/static/images/Solutions_bg.png');
    opacity:0.96;
    margin-top:0;
}


.desktop-nav .technologies {
    background-image: url('/static/images/Technologies_bg.png');
    opacity:0.96;
    margin-top:0;
}

.desktop-nav .dropdown-menu {
    margin-top:0;
    background-size:cover;
    border-top: 3px solid #2860E1;
    width: 86vw;
    left: 0;
    padding: 20px;
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: none;

}

.desktop-nav .navbar-nav .dropdown:hover .dropdown-menu,
.desktop-nav .dropdown-menu:hover {
    display: flex;
}

.desktop-nav .dropdown-item {
    color: white;
    padding: 5px 0;
    letter-spacing:0.08em;
}

.navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    color: #2860E1;
}

.navbar-nav {
    margin: auto;
}

.signup {
    padding-top: 0.10%;
    padding-bottom: 0.10%;
    background-color: #000;
    color: white;
    text-decoration: none;
}

.signup button,
.signup a {
    text-decoration: none;
    outline: none;
}


.desktop-nav .navbar-nav .dropdown:hover .dropdown-menu {
    display: flex;
    margin-top: 0;
}

.desktop-nav .dropdown-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.desktop-nav .column {
    flex: 1;
    padding: 10px;
    color: #fff;
    margin-left: 5%;
}

.image-column {
    flex: 0 0 30%;
}

.desktop-nav .column img {
    max-width: 100%;
    height: auto;
    display: block;
}

.desktop-nav .column h5 {
    border-bottom: 1px solid #2860E1;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.desktop-nav .column a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.desktop-nav .column a:hover {
    background-color: transparent;
    color: white;
    opacity: 0.5;
    text-decoration: none;
    transform: scale(1.05);
}

.desktop-nav .dropdown-item i {
    margin-right: 10px;
    padding: 2%;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    }

    .navbar-brand img {
        width: 150px;
        animation: fadeInUp 1s ease-in-out;
    }

@media (max-width: 1024px) and (min-width: 768px) {
    .navbar {
        padding-left: 5%;
        padding-right: 5%;
        max-width: 55%;
    }
}

@media (min-width: 1600px) {

    .products{
        margin-left:-263% !important;
    }
    .solutions{
        margin-left:-367% !important;
    }
    .technologies{
        margin-left:-375% !important;
    }
    .desktop-nav .container-fluid {
        max-width: 55%;
    }
    .desktop-nav .navbar-logo img,
    .desktop-nav .navbar-brand img {
        margin-left: 20%;
    }

    .desktop-nav .dropdown-menu {
        width: 53vw;
        margin-left:15%;
    }
}
