/* nav.css */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Archivo', sans-serif;
    margin: 0;
    padding: 0;
}

.desktop-nav {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.desktop-nav .container-fluid {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo img,
.navbar-brand img {
    max-width: 100%;
    height: auto;
    width: 150px;
    transition: width 0.3s ease;
}

.navbar-logo img:hover,
.navbar-brand img:hover {
    transform: scale(1.1);
}

.desktop-nav .nav-link {
    color: white;
    font-size: 16px;
    padding-right: 30px;
}

.desktop-nav .nav-link:hover,
.desktop-nav .nav-link:focus {
    color: white;
    transform: scale(1.13);
}

.desktop-nav .dropdown-menu {
    margin-top:15%;
    background: linear-gradient(90deg, #000 0%, #001 100%);
    border-top: 3px solid #2860E1;
    width: 85vw;
    left: 0;
    padding: 20px;
    display: none;
    position: absolute;
    top: 100%;
    margin: 0 auto;
    box-shadow: none;
}

.desktop-nav .dropdown-item {
    color: white;
    padding: 5px 0;
}

.navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    color: #2860E1;
}

.navbar-nav {
    margin: auto;
}

.signup {
    padding-top: 0.10%;
    padding-bottom: 0.10%;
    background-color: #000;
    color: white;
    text-decoration: none;
}

.signup button,
.signup a {
    text-decoration: none;
    outline: none;
}

.desktop-nav .navbar-nav .dropdown:hover .dropdown-menu {
    display: flex;
    margin-top: 0;
}

.desktop-nav .dropdown-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.desktop-nav .column {
    flex: 1;
    padding: 10px;
    color: #fff;
}

.image-column {
    flex: 0 0 30%;
}

.desktop-nav .column img {
    max-width: 100%;
    height: auto;
    display: block;
}

.desktop-nav .column h5 {
    border-bottom: 1px solid #2860E1;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.desktop-nav .column a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.desktop-nav .column a:hover {
    background-color: transparent;
    color: white;
    opacity: 0.5;
    text-decoration: none;
    transform: scale(1.05);
}

.desktop-nav .dropdown-item i {
    margin-right: 10px;
    padding: 2%;
}

@media (max-width: 768px) {
    /* Add specific mobile styles if needed */
}

@media (max-width: 1024px) and (min-width: 768px) {
    .navbar {
        padding-left: 5%;
        padding-right: 5%;
        max-width: 55%;
    }
}

@media (min-width: 1600px) {
    .desktop-nav .container-fluid {
        max-width: 55%;
    }
    .desktop-nav dropdown-menu {
        width: 55vw;
    }
}
