body
{
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;

}

.background-image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/products_page_bg.png') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 80px);
    padding: 0 20px; /* Adjust padding as needed */
    overflow: hidden;
}

.main-content-text {
    max-width: 800px;

}

.main-content h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main-content h1 {
    font-size: 60px;
    margin-bottom: 1rem;
}

.main-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.image-container {
    position: relative;
    flex-shrink: 0;
    width: 50%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.btn-custom {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-custom:hover
{
    color: white;
    text-decoration: none;
    transform: scale(1.05);
}

.btn-custom:hover {
    background-color: #0056b3;
}

.btn-see-more {
    background-color: transparent;
    color: white;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s;
    font-size: 1rem;
}

.btn-see-more:hover {
    color:white;
    opacity:0.5;
    text-decoration:none;
    transform: scale(1.05);
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    color: #fff;
    font-size:12px;
}
.footer a{
    font-size:10px;
    color: #8B8A8C;
}
.copyright{
    margin-top:15%;
}

.copyright p{
    font-size:12px;
}
.footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
}
.footer-column h3{
    font-family:Roboto;
    font-size:14px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
}
.footer h3::after {
    content: '';
    display: block;
    width: 36px;
    height: 2px;
    background: #2860E1;
    position: absolute;
    bottom: 0;
    left: 0;
}
.logo-column {
    flex: 2;
}

.footer-logo {
    max-width: 150px;
    height: auto;
}

.footer h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    list-style: none;
    padding: 0;
    size:50%;
    font-size:2rem;
}
.social-media li {
    margin-right: 10%;
}
.logo-column{
    width: 166.21px;
    height: 39.69px;
    top: 76px;
    left: 120px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .main-content {
        height: calc(100vh - 80px);
        margin-left: 0;
        padding: 0 10px;
        text-align: left;
    }

    .main-content-text {
        max-width: 600px;
    }

    .main-content h5 {
        font-size: 1.25rem;
    }

    .main-content h1 {
        font-size: 3rem;
    }

    .main-content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .navbar-logo img {
        width: 100px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav li {
        margin: 5px 0;
    }

    .main-content {
        height: calc(100vh - 80px);
        flex-direction: column;
        margin-left: 0;
        padding: 0 10px;
        text-align: center;
        text-align: left;
    }

    .main-content-text {
        max-width: 100%;
        text-align: left;
    }

    .main-content h5 {
        font-size: 1rem;
    }

    .main-content h1 {
        font-size: 2rem;
    }

    .main-content p {
        font-size: 0.8rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 20px;
        align-items: center;
    }

    .footer-logo {
        text-align: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
        footer-logo {
        max-width: 150px;
        height: auto;
        align-items: center;
    }

    .footer h3 {
        margin-bottom: 10px;
        font-size: 1.2em;
        align-items: center;
    }

    .footer ul {
        list-style: none;
        padding: 0;
        align-items: center;
    }

    .footer ul li {
        margin-bottom: 8px;
        align-items: center;
    }

}