html {
    scroll-behavior: smooth;
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'Archivo';
    letter-spacing:0.02em;
}

.background-image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/products_page_bg.png') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5%;
    font-family: 'Archivo';
    width:95%;
    margin-left:2%;
}

.main-content-text {
    max-width: 800px;
}

/*.main-content-text:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}*/

.main-content-text h5,
.main-content-text h1,
.main-content-text p {
    transition: opacity 0.3s;
}

/*.main-content-text:hover h5,
.main-content-text:hover h1,
.main-content-text:hover p {
    opacity: 0.8;
}*/

.main-content h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
}

.main-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
    font-weight: 700px;
}

.main-content p {
    font-size: small;
    font-weight: lighter;
    margin-bottom: 2rem;
    letter-spacing: 0.07rem;
}

.image-container {
    position: relative;
    flex-shrink: 0;
    width: 50%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.btn-custom {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    font-family: 'Roboto', 'Archivo';
}

.btn-custom:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.05);
}

.btn-custom:hover {
    background-color: #0056b3;
}

.btn-see-more {
    background-color: transparent;
    color: white;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s;
    font-size: 1rem;
}

.btn-see-more:hover {
    color: white;
    opacity: 0.5;
    text-decoration: none;
    transform: scale(1.05);
}

@media (max-width: 1024px) and (min-width: 768px) {
    .main-content {
        height: calc(100vh - 80px);
        margin-left: 0;
        padding: 0 10px;
        text-align: left;
    }

    .main-content-text {
        max-width: 600px;
    }

    .main-content h5 {
        font-size: 1.25rem;
    }

    .main-content h1 {
        font-size: 3rem;
    }

    .main-content p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .main-content {
        height: auto;
        flex-direction: column;
        margin-left: 0;
        padding: 20px;
        text-align: left;
    }

    .main-content-text {
        max-width: 100%;
        text-align: left;
        padding: 20px 0;
    }

    .main-content h5 {
        font-size: 1rem;
    }

    .main-content h1 {
        font-size: 2rem;
    }

    .main-content p {
        font-size: 0.8rem;
    }

    .image-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }
}
@media (min-width: 1600px) {
    .main-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        margin-top: -2%;
    }
}

