html {
    scroll-behavior: smooth;
}
:root {
            --primary-color: mediumslateblue;
        }

        body, html {
            margin: 0;
            padding: 0;
            font-family: 'Archivo';
            background-color: #16151A;
            color: white;
        }

        .subscribe-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 75vh;
            background-color: #16151A;
            padding: 20px;

        }

        .subscribe-form {
            position: relative;
            background-color: #16151A;
            padding: 60px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: white;
            max-width: 85%;
            width: 100%;
            background-image: radial-gradient(
                rgba(255, 255, 255, 0.1) 1px,
                transparent 1px
            );
            background-position: 50% 50%;
            background-size: 1.1rem 1.1rem;
        }
        .msg{
            background-color:transparent;
            border:none;
            color:White;
            font-family:'Archivo';
            padding:0;
        }

        .subscribe-form:before {
            content: "";
            height: 70px;
            width: 1px;
            position: absolute;
            left: -1px;
            top: 65%;
            transition: all 600ms ease;
            opacity: 0;
            background: linear-gradient(
                transparent,
                var(--primary-color),
                transparent
            );
        }

        .subscribe-form:hover:before {
            top: 25%;
            opacity: 1;
        }

        .subscribe-form h2 {
            margin-bottom: 20px;
            font-size: 40px;
            color: white;
            transition: color 0.3s ease;
        }

        .subscribe-form h2:hover {
            color: var(--primary-color);
        }

        .subscribe-form .form-group label {
            color: white;
        }

        .subscribe-form .form-control, {
            background-color:#16151A;
            opacity:1;
            border: 1px solid #3a4a6f;
            color: white;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            width: 80%;
            transition: all 0.3s ease;
        }

        .subscribe-form .dropdown-toggle {
            background-color:#16151A;
            border: 1px solid #3a4a6f;
            color: white;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            width: 80%;
            transition: all 0.3s ease;
        }
        .subscribe-form .dropdown-menu{
            margin-top: 10%;
            background-color:#16151A;
            border: 1px solid #3a4a6f;
            color: white;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            width: 80%;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .dropdown-item{
            cursor: pointer;
            color: white !important;
        }


        .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover {
            opacity: 0.8;
            background-color: transparent !important;
            color: inherit;
            transform: scale(1.02);
        }

        .dropdown-item:focus, .dropdown-item:hover {
            background-color: transparent !important;
            opacity: 1;
        }


        .dropdown .btn-secondary {
            background-color: #16151A !important;
            border: 1px solid #3a4a6f;
            color: #fff;
            font-family: 'Archivo';
            text-align: left;
            padding-left: 10px;
        }

        .dropdown .btn-secondary:hover,
        .dropdown .btn-secondary:focus,
        .dropdown .btn-secondary:active {
            border-color: var(--primary-color);
            background-color:#16151A;
        }


        .dropdown .btn-secondary::after {
            display: none;
        }

        .subscribe-form .form-control:hover,
        .subscribe-form .form-control:focus {
            border-color: var(--primary-color);
            background-color:#16151A;
        }

        .subscribe-form .form-check {
            display: flex;
            align-items: center;
            padding-left: 14rem;
            text-wrap: nowrap;
        }

        .subscribe-form .form-check-input {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            background-color: transparent;
            border: 1px solid #3a3a68;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            cursor: pointer;
            position: relative;
            margin-right: 10px;
            transition: all 0.3s ease;
        }

        .subscribe-form .form-check-input:checked {
            background-color: #16151A;
            opacity:0.7;
            border-color: var(--primary-color);
            box-shadow: 0 0 5px var(--primary-color);
        }

        .subscribe-form .form-check-input:checked::before {

            color: white;
            font-size: 16px;
            position: absolute;
            top: 2px;
            left: 4px;
        }

        .subscribe-form .form-check-input:hover {
            border-color: var(--primary-color);
            box-shadow: 0 0 5px var(--primary-color);
        }

        .subscribe-form .form-check-label {
            color: white;
            margin-left: 10px;
        }

        .subscribe-form .btn-primary {
            background-color: #16151A;
            border: 1px solid #3a3a68;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-family: 'Roboto', 'Archivo';
        }

        .subscribe-form .btn-primary:hover {
            background-color: #2860E1;
            border: 1px solid #3a3a68;
            color: white;
            text-decoration: none;
            transform: scale(1.05);
        }

        .subscribe-form .form-control,
        .subscribe-form select.form-control {
            background-color: #16151A;
            opacity: 0.7;
            border: 1px solid #3a4a6f;
            color: white;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            width: 80%;
            transition: all 0.3s ease;
        }

        .subscribe-form select.form-control:hover,
        .subscribe-form select.form-control:focus {
            border-color: var(--primary-color);
            box-shadow: 0 0 5px var(--primary-color);
        }

        @media (max-width: 768px) {
            .form-row {
                display: flex;
                flex-direction: column;
            }

            .form-group {
                width: 100%;
            }

            .subscribe-container {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 75vh;
                background-color: #16151A;

            }
            .subscribe-form {
                padding: 10%;
            }

            .subscribe-form .form-check {
                margin-top:10%;
                padding-left: 2rem;
                text-wrap: wrap;
            }
            .subscribe-form .form-check-input {
                width: 20px;
                height: 20px;
            }
            .dropdown-item label{
                text-wrap:wrap;
            }
        }

@media (min-width: 1600px) {
    .subscribe-container {
        margin-top: -10%;
        margin-left: auto;
        margin-right: auto;
        max-width: 65%;
    }
}