<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Service Modules</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="static/css/msm.css" rel="stylesheet">
</head>
<body class="msm-body">
    <div class="container msm-container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Multi-Service Modules</h2>
                <img src="/static/images/msm_ca.png" class="img-fluid" alt="Multi-Service Modules Image">
            </div>
            <div class="col-md-6">

                <ul class="msm-module-list">
                    <li>
                        <div class="msm-module-title">01 &nbsp;&nbsp;&nbsp;&nbsp; CAR SUBSCRIPTION</div>
                        <div class="msm-module-description">Monthly all-inclusive car subscription management.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">02 &nbsp;&nbsp;&nbsp;&nbsp; SHORT-TERM RENTAL</div>
                        <div class="msm-module-description">Car share & short-term rental services management.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">03 &nbsp;&nbsp;&nbsp;&nbsp; DIGITAL DEALERSHIP</div>
                        <div class="msm-module-description">For vehicle purchasing and trade-in services purpose.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">04 &nbsp;&nbsp;&nbsp;&nbsp; LOANER MANAGEMENT</div>
                        <div class="msm-module-description">Loaner car management and booking services.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container msm-container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Full Visibilities</h2>
                <ul class="msm-module-list">
                    <li>
                        <div class="msm-module-title">01 &nbsp;&nbsp;&nbsp;&nbsp; GOD's VIEW VEHICLE TRACKING</div>
                        <div class="msm-module-description">Monthly all-inclusive car subscription management.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">02 &nbsp;&nbsp;&nbsp;&nbsp; VIRTUAL GARAGE</div>
                        <div class="msm-module-description">Car share & short-term rental services management.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">03 &nbsp;&nbsp;&nbsp;&nbsp; IFTA</div>
                        <div class="msm-module-description">For vehicle purchasing and trade-in services purpose.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">04 &nbsp;&nbsp;&nbsp;&nbsp; INSIGHTS</div>
                        <div class="msm-module-description">Loaner car management and booking services.</div>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <img src="/static/images/full_visibilities_ca.jpg" class="img-fluid" alt="Multi-Service Modules Image">
            </div>
        </div>
    </div>

    <div class="container msm-container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Simplify Fleet Maintenance</h2>
                <img src="/static/images/simplify_fleet_ca.png" class="img-fluid" alt="Multi-Service Modules Image">
            </div>
            <div class="col-md-6">

                <ul class="msm-module-list">
                    <li>
                        <div class="msm-module-title">01 &nbsp;&nbsp;&nbsp;&nbsp; PREVENTIVE FLEET MAINTENANCE</div>
                        <div class="msm-module-description">Monthly all-inclusive car subscription management.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">02 &nbsp;&nbsp;&nbsp;&nbsp; MAINTENANCE HISTORY REPORT</div>
                        <div class="msm-module-description">Car share & short-term rental services management.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">03 &nbsp;&nbsp;&nbsp;&nbsp; LIVE VIDEO INSPECTION</div>
                        <div class="msm-module-description">For vehicle purchasing and trade-in services purpose.</div>
                    </li>
                    <li>
                        <div class="msm-module-title">04 &nbsp;&nbsp;&nbsp;&nbsp; VEHICLE HEALTH DETAILS</div>
                        <div class="msm-module-description">Loaner car management and booking services.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <section class="ef-effectiveness-section">
        <h2>EFFECTIVENESS OF ONE-STOP FLEET MANAGEMENT</h2>
        <p>Connect, automate, and manage physical operations with a fully integrated product suite. SHIFT combines ease of use with constantly evolving features to help you stay ahead.</p>
        <div class="ef-statistics">
            <div class="ef-stat-card">
                <img src="/static/images/ef_1.png" alt="percentage">
<!--                <div class="ef-stat-circle">-->
<!--                    <span>56%</span>-->
<!--                </div>-->
                <h3>Get Full Fleet Visibility</h3>
                <p>Less time spent tracking vehicles and assets. Manage your vehicles, drivers with SHIFT Integrated Operations Platform.</p>
            </div>
            <div class="ef-stat-card">
                <img src="/static/images/ef_2.png" alt="percentage">
<!--                <div class="ef-stat-circle">-->
<!--                    <span>42%</span>-->
<!--                </div>-->
                <h3>Increase in Asset Utilization</h3>
                <p>Less time spent tracking vehicles and assets. Manage your vehicles, drivers with SHIFT Integrated Operations Platform.</p>
            </div>
            <div class="ef-stat-card">
                <img src="/static/images/ef_3.png" alt="percentage">
<!--                <div class="ef-stat-circle">-->
<!--                    <span>80%</span>-->
<!--                </div>-->
                <h3>Boost Productivity</h3>
                <p>Less time spent tracking vehicles and assets. Manage your vehicles, drivers with SHIFT Integrated Operations Platform.</p>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
