<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="icon" type="image/x-icon" href="/static/images/dark_logo.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="static/css/footer.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <footer class="footer">
        <div class="footer-column logo-column">
            <a href="/"><img src="\static\images\shift_logo.png" alt="SHIFT Logo" class="footer-logo"></a>
            <div class="copyright">
                <p>All rights reserved. copyright&copy; SHIFT Technologies Canada Inc.</p>
                <p><a href="privacyPolicy">Privacy Policy</a></p>
                <p><a href="termsAndConditions">Terms & Conditions</a></p>
                <p>1457 McCowan Rd, Toronto, ON M1S 5K7</p>
            </div>
        </div>
        <div class="footer-column">
            <h3>Products</h3>
            <ul>
                <li><a href="productAdminPortal">Fleet Management & Optimization Admin Portal</a></li>
                <li><a href="productCustomerApp">White-Label Customer App</a></li>
                <li><a href="productAgentOperationalApp">Agent Operational App</a></li>
                <li><a href="productEldReport">ELD compliance IFTA Reporting & CSA Insights</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Solutions</h3>
            <ul>
<!--                <li><a href="solutionCarSubscription">Car Subscription</a></li>-->
                <li><a href="solutionLoanerManagement">Loaner Management</a></li>
                <li><a href="solutionDigitalDealership">Digital Dealership</a></li>
                <li><a href="solutionShortTermRental">Short-term Rental</a></li>
                <li><a href="comingSoon">Driver Productivity</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Technologies</h3>
            <ul>
                <li><a href="technologyPredictiveMaintenance">Predictive Maintenance</a></li>
                <li><a href="technologyAIInspection">AI Inspection</a></li>
                <li><a href="technologyCollisionDetection">AI Collision Detection</a></li>
                <li><a href="productAIDashCam">AI Dashcam</a></li>
                <li><a href="technologyIntelligentRoutePlaning">Intelligent Dispatch Route Planning</a></li>
                <li><a href="technologyTelematics">Telematics & Digital Key</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Find Us</h3>
                <ul>
                    <li class="icons">
                        <a href="https://www.linkedin.com/company/shift-fleet/">
                          <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="icons">
                        <a href="https://www.youtube.com/@ShiftAITech">
                          <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
         </div>
    </footer>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>