<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="icon" type="image/x-icon" href="/static/images/fav_icon.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="static/css/navbar.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/static/images/logo.png" alt="Shift">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color:#2860E1";></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown ml-3 active">
                        <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="productsDropdown">
                            <div class="dropdown-columns">

                                <div class="column">
                                    <h5>AI Powered SaaS Products</h5>
                                    <a class="dropdown-item" href="#"><i class="fas fa-camera"></i>Fleet Management & Optimization Admin Portal</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>White-Label Customer App</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-car-crash"></i>Agent Operational App</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-map-signs"></i>White-Label Driver App</a>

                                </div>
                                <div class="column">
                                    <h5>View All</h5>
                                    <a class="dropdown-item" href="#"><i class="fas fa-satellite"></i>ELD compliance IFTA Reporting & CSA Insights</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-key"></i>AI Dash-cam</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i>Tracking & Telematics</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-code"></i>Digital Key & Remote Authorization</a>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle" href="#" id="solutionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Solutions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="solutionsDropdown">
                            <div class="dropdown-columns">

                                <div class="column">
                                    <h5>By Needs</h5>
                                    <a class="dropdown-item" href="#"><i class="fas fa-camera"></i>Fleet Management</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>Car Subscription</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-car-crash"></i>Short-term Rental</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-map-signs"></i>Digital Dealership</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-route"></i>Loaner Management</a>
                                </div>
                                <div class="column">
                                    <h5>By Industry</h5>
                                    <a class="dropdown-item" href="#"><i class="fas fa-satellite"></i>OEMs & Dealerships</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-key"></i>Delivery & Services</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i>Energy, Oil & Gas</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-code"></i>Passenger Transit</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-code"></i>Construction</a>
                                </div>
                                <div class="column">
                                    <h5>By Fleet Size</h5>
                                    <a class="dropdown-item" href="#"><i class="fas fa-satellite"></i>SMEs</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-key"></i>Enterprise</a>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-3">
                        <a class="nav-link dropdown-toggle" href="#" id="technologiesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Technologies
                        </a>
                        <div class="dropdown-menu" aria-labelledby="technologiesDropdown">
                            <div class="dropdown-columns">

                                <div class="column">
                                    <h5>SHIFT AI Algorithms</h5>
                                    <a class="dropdown-item" href="#"><i class="fas fa-camera"></i>AI Camera Inspection</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>Predictive Maintenance</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-car-crash"></i>Collision Detection</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-map-signs"></i>Intelligent Route Planning</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-route"></i>Changer Route Planning</a>
                                </div>
                                <div class="column">
                                    <h5>SHIFT Technologies</h5>
                                    <a class="dropdown-item" href="#"><i class="fas fa-satellite"></i>Telematics</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-key"></i>Digital Key</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i>Integration Partners</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-code"></i>Developer Portal APIs</a>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="#">ContactUs</a>
                    </li>
                </ul>
            </div>
<!--            <a class="nav-link" href="#"><i class="fas fa-search" id="searchIcon"></i></a>-->
<!--            <div class="search-container" id="searchContainer">-->
<!--                <div class="search-box">-->
<!--                    <input type="text" id="searchInput" placeholder="Search...">-->
<!--                    <i class="fas fa-search" id="searchSubmit"></i>-->
<!--                </div>-->
<!--            </div>-->
             <a href="#subscribe-container">
            <div class="signup">
                <button class="btn btn-outline-primary my-2 my-sm-0">Sign up</button>
            </div>
            </a>
        </div>
    </nav>

    <script>
        $(document).ready(function() {
            $('.dropdown').hover(function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(300);
            }, function() {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(300);
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('searchContainer').style.display = 'none';

            document.getElementById('searchIcon').addEventListener('click', function() {
                var searchContainer = document.getElementById('searchContainer');
                if (searchContainer.style.display === 'none' || searchContainer.style.display === '') {
                    searchContainer.style.display = 'block';
                    searchIcon.style.display='none';
                } else {
                    searchContainer.style.display = 'none';
                }
            });

            document.getElementById('searchSubmit').addEventListener('click', function() {
                var query = document.getElementById('searchInput').value;
                alert('Search query: ' + query); // Handle the search query here
            });
        });
    </script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
