<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription</title>
    <link rel="icon" type="image/x-icon" href="/static/images/dark_logo.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/subscription_form.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="subscribe-container" id="subscribe-container">
    <form class="subscribe-form" action="/subscription_form" method="POST">
        <h2>Subscribe</h2>
        {% if message %}
        <div class="alert alert-success msg" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <div class="form-container">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="First Name *" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address *" >
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Company Name *" required>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="companyWebsite" name="companyWebsite" placeholder="Company Website">
                </div>
            </div>
            <div class="form-row">
            <div class="dropdown col-md-6">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Interested Solution
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <input type="checkbox" class="form-check-input" id="fleetManagement" name="interestedSolution" value="Fleet Management">
                        <label for="fleetManagement">Fleet Management</label>
                    </li>
                    <li class="dropdown-item">
                        <input type="checkbox" class="form-check-input" id="carSubscription" name="interestedSolution" value="Car Subscription">
                        <label for="carSubscription">Car Subscription</label>
                    </li>
                    <li class="dropdown-item">
                        <input type="checkbox" class="form-check-input" id="shortTermRental" name="interestedSolution" value="Short-term Rental">
                        <label for="shortTermRental">Short-term Rental</label>
                    </li>
                    <li class="dropdown-item">
                        <input type="checkbox" class="form-check-input" id="digitalDealership" name="interestedSolution" value="Digital Dealership">
                        <label for="digitalDealership">Digital Dealership</label>
                    </li>
                    <li class="dropdown-item">
                        <input type="checkbox" class="form-check-input" id="loanerManagement" name="interestedSolution" value="Loaner Management">
                        <label for="loanerManagement">Loaner Management</label>
                    </li>
                </ul>
            </div>
            <div class="dropdown col-md-6">
                <button id="fleetSizeDropdown" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fleet Size
                </button>
                 <ul class="dropdown-menu">
                    <li class="dropdown-item" data-value="Fleet Size (>50)">Fleet Size (>50)</li>
                    <li class="dropdown-item" data-value="Fleet Size (>100)">Fleet Size (>100)</li>
                    <li class="dropdown-item" data-value="Fleet Size (>500)">Fleet Size (>500)</li>
                    <li class="dropdown-item" data-value="Fleet Size (>1000)">Fleet Size (>1000)</li>
                    <li class="dropdown-item" data-value="Fleet Size (>1000+)">Fleet Size (>1000+)</li>
                </ul>
                <input type="hidden" id="fleetSize" name="fleetSize">
            </div>
        </div>


        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="form-check col-md-6">
                <input type="checkbox" class="form-check-input" id="subscribeCheck" name="subscribeCheck">
                <label class="form-check-label" for="subscribeCheck">Agree to receive email from SHIFT and stay up-to-date.</label>
            </div>
        </div>
    </form>
</div>
</body>

<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.dropdown-menu').forEach(function(dropdown) {
        dropdown.addEventListener('click', function (e) {
            e.stopPropagation();
        });
    });
});

document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('#fleetSizeDropdown ~ .dropdown-menu .dropdown-item').forEach(function(item) {
                item.addEventListener('click', function () {
                    var button = document.getElementById('fleetSizeDropdown');
                    button.innerText = item.getAttribute('data-value');
                    var hiddenInput = document.getElementById('fleetSize');
                    var value = item.getAttribute('data-value');
                    button.innerText = value;
                    hiddenInput.value = value;
                });
            });
        });
</script>

</html>